@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}